.vscode/c_cpp_properties.json
Node_Config/DEMAC_check_nfs_mD.sh
Node_Config/DEMAC_sshfsEnable_mD.sh
Node_Config/DEMAC_pingAll_mD.sh
Node_Config/DEMAC_reboot_mount_mD.sh
01_MPI_OMP_EPI/nodeList
02_DECARD/proj_DECARD.code-workspace
03_DECARD_CMAKE/test_proj/
*~