.vscode/c_cpp_properties.json
Node_Config/DEMAC_check_nfs_mD.sh
Node_Config/DEMAC_sshfsEnable_mD.sh
Node_Config/DEMAC_pingAll_mD.sh
Node_Config/DEMAC_reboot_mount_mD.sh
00_MPI_OMP/caviness/
01_MPI_OMP_EPI/nodeList
02_DECARD/proj_DECARD.code-workspace
03_DECARD_CMAKE/test_proj/
03_DECARD_CMAKE/test_proj_v2/
03_DECARD_CMAKE/build/
04_DECARD_HPC/build/
04_DECARD_HPC/debug/
04_DECARD_HPC/caviness_scripts/old/
04_DECARD_HPC/caviness_scripts/slurm*
04_DECARD_HPC/tmp/
04_DECARD_HPC/caviness_scripts/joblist.txt
TMP/
04_DECARD_HPC/DECARD/src/runtime/host/NCOM.cpp
04_DECARD_HPC/caviness_scripts/DECARD_Caviness*
*~
DEMAC_imperius_ubuntu.code-workspace
